<html ng-app="self-app">

<head>
    <title>APP - TESTE</title>

    <link rel="stylesheet" href="dist/css/bootstrap.min.css">
 
    <link rel="stylesheet" href="dist/css/main.css">  

    <!-- App -->
    <script type="text/javascript" src="dist/js/app.min.js"></script>
</head>

<body ng-controller="dentistaController">
    <div class="container" ng-init="index()">
        <div class="row">
            <div class="col-md-12">
                <h1>Listagem de Dentistas </h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-dark" ng-click='editar()'>Novo Dentista</button>
            </div>

        </div>
        <hr>
        
        <div class="row">
            <div class="col-md-12 ">
                <div class="alert alert-danger" ng-show="errors">
                   {{errors}}
                </div>
                <div class="alert alert-success" ng-show="success">
                   {{success}}
                </div>
    
            </div>

            <div class="col-md-12">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                          
                            <th class="text-center">Nome</th>
                            <th class="text-center">Telefones</th>
                            <th class="text-center">E-mail</th>
                            <th class="text-center">Ação</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-if="dentists.hasOwnProperty('0')" ng-repeat="dentist in dentists ">
                            <td class="text-center">{{dentist.personal_data.general.name}}</td>
                            <td class="text-center"><ul class="telefone"><li  ng-repeat="tel in dentist.personal_data.contact.phones ">{{tel.value}}</li></ul></td>
                            <td class="text-center">{{dentist.personal_data.contact.email}}</td>

                            <td class="text-center">
                                <button class="btn btn-info btn-xs" ng-click="editar(dentist.id)">Editar</button>
                                <button class="btn btn-danger btn-xs" ng-click="destroy(dentist.id)">Excluir</button>
                            </td>
                        </tr>

                        <tr  ng-if="dentists.hasOwnProperty('0') == false"><td class="text-center" colspan="4">Nenhum usuário foi localizado</td></tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row" ng-show='modalCreate'>
            <div class="col-md-12">

                <div class="overlay">




                    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Cadastrar Dentista</h5>
                                <button type="button " class="close" ng-click="closeModalCreate()">
                                    <span arial-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <div class="alert alert-danger" ng-show="errors">
                                           {{errors}}
                                        </div>
                            
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 ">
                                        <div class="form-group ">
                                            <label class="col-form-label">Nome*:</label>
                                            <input type="text" required class="form-control" ng-model="dentista.personal_data.general.name">
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group ">
                                            <label class="col-form-label">Email*:</label>
                                            <input type="email" required class="form-control" ng-model="dentista.personal_data.contact.email">
                                        </div>
                                    </div>

                                    <div class="col-md-6 ">
                                        <div class="form-group ">
                                            <label class="col-form-label">CPF*:</label>
                                            <input type="text" required class="form-control" mask='999.999.999-99' ui-percentage-mask ng-model="dentista.personal_data.general.cpf">
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group ">
                                            <label class="col-form-label">Gênero*:</label>
                                            <select class="form-control" ng-model="dentista.personal_data.general.gender">
                                                <option value="M" ng-selected="dentista.personal_data.general.gender == 'm' ">M</option>
                                                
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group ">
                                            <label class="col-form-label">Estado Civil*:</label>
                                            <input type="text" required class="form-control"  ui-percentage-mask ng-model="dentista.personal_data.general.marital_status">
                                        </div>
                                    </div>

                                    <div class="col-md-6 ">
                                        <div class="form-group ">
                                            <label class="col-form-label">RG*:</label>
                                            <input type="text" required class="form-control" ng-model="dentista.personal_data.general.rg">
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group ">
                                            <label class="col-form-label">Orgão Emissor*:</label>
                                            <input type="text" required class="form-control" ng-model="dentista.personal_data.general.agency">
                                        </div>
                                    </div>

                                    <div class="col-md-6 ">
                                        <div class="form-group ">
                                            <label class="col-form-label">Nacionalidade*:</label>
                                            <input type="text" required class="form-control" ng-model="dentista.personal_data.general.nationality">
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group ">
                                            <label class="col-form-label">Local de Nascimento*:</label>
                                            <input type="text" required class="form-control" ng-model="dentista.personal_data.general.place_of_birth" >
                                        </div>
                                    </div>

                                    <div class="col-md-6 ">
                                        <div class="form-group ">
                                            <label class="col-form-label">Data de Nascimento*:</label>
                                            <input type="text" required class="form-control" mask='39/19/9999' ng-model="dentista.personal_data.general.date_of_birth">
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group ">
                                            <label class="col-form-label">Ocupação*:</label>
                                            <input type="text" required class="form-control" ng-model="dentista.personal_data.general.occupation">
                                        </div>
                                    </div>
                                </div>
                                <div class="row py-3">
                                    <div class="col-md-12 ">
                                        <h5 class="modal-title">Telefone</h5>
                                    </div>
                                    <div class="list-phones" ng-repeat ="phone in dentista.personal_data.contact.phones" >
                                        <button type="button " class="close" ng-click="closeModalCreate()">
                                            <span arial-hidden="true" class="m-1" ng-click="popPhone(phone)">&times;</span>
                                        </button>
                                        <span class="m-2">{{phone.value}}</span>
                                      

                                    </div>
                                
                                </div>
                                <div class="row">
                                <div class="col-md-4 ">
                                    <div class="form-group ">
                                        <label class="col-form-label">Numero*:</label>
                                        <input type="text" class="form-control" mask='(99) 99999-9999' ng-model="nr_phone.value">
                                    </div>
                                </div>
                            
                                <div class="col-md-4 ">
                                    <div class="form-group ">
                                        <label class="col-form-label">Tipo*:</label>
                                        <select class="form-control" ng-model="nr_phone.type">
                                            <option value="mobille" ng-selected="true" >Celular*</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col offset-md-1 align-self-center">
                                  
                                     <button class="button btn btn-success align-self-center button-plus" ng-click="pushPhone()">&plus; Adicionar</button>
                                    
                                </div>
                                </div>
                           

                                <div class="row py-3">
                                    <div class="col-md-12 ">
                                        <h5 class="modal-title">ENDEREÇO</h5>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <div class="form-group ">
                                            <label class="col-form-label">Cep*:</label>
                                            <input type="text" required class="form-control"  mask='99.999-999' ng-model="dentista.personal_data.address.postcode">
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group ">
                                            <label class="col-form-label">Logradouro*:</label>
                                            <input type="text" required class="form-control" ng-model="dentista.personal_data.address.address">
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group ">
                                            <label class="col-form-label">Numero*:</label>
                                            <input type="text" required class="form-control" ng-model="dentista.personal_data.address.number">
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group ">
                                            <label class="col-form-label">País*:</label>
                                            <input type="text" required class="form-control" ng-model="dentista.personal_data.address.county">
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group ">
                                            <label class="col-form-label">Cidade*:</label>
                                            <input type="text" required class="form-control" ng-model="dentista.personal_data.address.city">
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group ">
                                            <label class="col-form-label">Estado*:</label>
                                            <input type="text" required class="form-control" ng-model="dentista.personal_data.address.state">
                                        </div>
                                    </div>
                                    <div class="col-md-12 ">
                                        <div class="form-group ">
                                            <label class="col-form-label">Segundo Endereço:</label>
                                            <input type="text" placeholder="(opicional)" required class="form-control" ng-model="dentista.personal_data.address.secondary_address">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="button btn btn-danger m-3" ng-click="closeModalCreate()">Cancelar</button>
                                    <button class="button btn btn-success" ng-click="salvar(dentista.id)">Salvar</button>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>


    <!-- Modal -->
  
 
</body>

</html>