

.overlay{

position: fixed;
right:0;
top:0;
bottom: 0;
left: 0;

background: rgba(0,0,0,0.6);


}

.col-form-label{
font-weight: bold;

}
.modal-header{

    background: rgb(0,0,0);
    color:white;

}
.modal-header button.close{

    color:white;
}
.modal-header button.close:hover{

    color:lighten(red,20%);
}


.telefone li {
    list-style-type: none;
    
    }

    .button-plus{

margin-top:8%;

    }

    .list-phones{

        background:rgba(31, 134, 16, 0.6);
        color:white;
        margin: 1%;
    
        padding: 0.5em 0;
    }
    .list-phones:hover{

        background:rgba(255, 203, 5, 1);
       
        color:black;
        margin: 1%;
    
        padding: 0.5em 0;
    }

    .list-phones button.close{
color:white;


    }
    .list-phones button span{
margin: auto;

    }
    .list-phones button.close:hover{
color:red;

    }
